<section>
  <aside class="fluid-container">
    <h1 class="product-h1">Best Selling Product</h1>
    <ul class="product-ul">
      <a
        style="
          background: #ffffff;
          border-radius: 5rem;
          padding: 1rem 1.2rem;
          margin-left: 0.5rem;
          text-align: center;
        "
        class="product-ul-a"
        href=""
        >Chair</a
      >
      <a class="product-ul-a" href="">Beds</a>
      <a class="product-ul-a" href="">Sofa</a>
      <a class="product-ul-a" href="">Lamp</a>
    </ul>
  </aside>
  <aside class="fluid-container-2">
    <aside class="content-card">
      <aside class="img-card">
        <img class="img" src="../../assets/chair-1.png" alt="" />
      </aside>
      <aside class="card-content">
        <h4 class="h4-card">Chair</h4>
        <h1 class="h1-card">Sakarias Armchair</h1>
        <aside class="stars">
          <span class="material-icons-round star"> star </span>
          <span class="material-icons-round star"> star </span>
          <span class="material-icons-round star"> star </span>
          <span class="material-icons-round star"> star </span>
          <span class="material-icons-round star"> star </span>
        </aside>
        <aside class="price-details">
<h2 class="price-h2"><span style="font-size: 1.6rem;">$</span>392</h2>
<span class="material-icons-round plus">
    add
    </span>
        </aside>
      </aside>
    </aside>

    <aside class="content-card">
        <aside class="img-card">
          <img class="img" src="../../assets/chair-2.png" alt="" />
        </aside>
        <aside class="card-content">
          <h4 class="h4-card">Chair</h4>
          <h1 class="h1-card">Baltsar Chair</h1>
          <aside class="stars">
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
          </aside>
          <aside class="price-details">
  <h2 class="price-h2"><span style="font-size: 1.6rem;">$</span>392</h2>
  <span class="material-icons-round plus">
      add
      </span>
          </aside>
        </aside>
      </aside>

    <aside class="content-card">
        <aside class="img-card">
          <img class="img" src="../../assets/chair-3.png" alt="" />
        </aside>
        <aside class="card-content">
          <h4 class="h4-card">Chair</h4>
          <h1 class="h1-card">Anjay Chair</h1>
          <aside class="stars">
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
          </aside>
          <aside class="price-details">
  <h2 class="price-h2"><span style="font-size: 1.6rem;">$</span>392</h2>
  <span class="material-icons-round plus">
      add
      </span>
          </aside>
        </aside>
      </aside>

      <aside class="content-card">
        <aside class="img-card">
          <img class="img" src="../../assets/chair-4.png" alt="" />
        </aside>
        <aside class="card-content">
          <h4 class="h4-card">Chair</h4>
          <h1 class="h1-card">Nyantuy Chair</h1>
          <aside class="stars">
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
            <span class="material-icons-round star"> star </span>
          </aside>
          <aside class="price-details">
  <h2 class="price-h2"><span style="font-size: 1.6rem;">$</span>392</h2>
  <span class="material-icons-round plus">
      add
      </span>
          </aside>
        </aside>
      </aside>
  </aside>
</section>
