<section>
    <aside class="container-main">
        <aside class="flex-content">
<h3 class="flex-h3">METERIALS</h3>
<h1 class="flex-h1">Very Serious <br> Meterials For Making <br> Furniture</h1>
<h4 class="flex-h4">Because panto was very serious about designing furniture for our  environment, using a very expensive and famous capital but <br> at a  relatively low price</h4>
<a class="flex-btn" href="">More info <span class="material-icons-round card-icon">
    trending_flat
    </span></a>      
</aside>
<aside class="gallery">
    <aside class="gallery-order">
        <img class="img-1" src="../../assets/flex-1.png" alt="">
        <img class="img-2" src="../../assets/flex-2.png" alt="">
    </aside>
   <aside class="last-img">
    <img class="img-3" src="../../assets/flex-3.png" alt="">
   </aside>
    
</aside>
    </aside>
</section>
