<section>
  <aside class="container-head">
    <aside class="text-head">
      <h3 class="h3">TESTIMONIALS</h3>
      <h1 class="h1">Our Client Reviews</h1>
    </aside>
    <aside class="card-head">
      <aside class="card-content">
        <aside class="contents-main">
            <img class="review-dp" src="../../assets/dp-1.png" alt="" />
            <h1 class="review-h1">Bang Upin</h1>
            <h5 class="review-h5">Pedagang Asongan</h5>
            <h6 class="review-h6">
              “Terimakasih banyak, kini <br> ruanganku menjadi <br> lebih mewah dan terlihat
              mahal“
            </h6>
            <aside class="star-rating">
              <span class="material-icons-round star"> star </span>
              <span class="material-icons-round star"> star </span>
              <span class="material-icons-round star"> star </span>
              <span class="material-icons-round star"> star </span>
              <span class="material-icons-round star"> star </span>
            </aside>
        </aside>
       
      </aside>
    </aside>
  </aside>
</section>
