<header>
  <nav>
    <h1 class="h1">Panto</h1>
    <ul class="header-ul">
      <select name="" id="" class="lists select">
        <option class="text-1" value="">Furniture</option>
      </select>
      <a class="header-a" href="">Shop</a>
      <a class="header-a" href="">About Us</a>
      <a class="header-a" href="">Contact</a>
    </ul>
    <aside class="card-icon">
      <span class="material-icons-round icon-bag"> local_mall </span>
      <span class="number">0</span>
    </aside>
  </nav>
  <section>
  <h1 class="home-h1">Make Your Interior More <br> Minimalistic & Modern</h1>
  <h4 class="home-h4">Turn your room with panto into a lot more minimalist <br> and modern with ease and speed</h4>    
  <aside class="search-btn">
<input class="input" type="text" placeholder="Search Furniture">
<img class="search-img" src="../../assets/serach.png" alt="">
  </aside>
  </section>
</header>
